#Controls {
  background-color: black;
  height: 80px;
  padding: 1rem .5rem;
  border-top: 1px solid rgb(70, 70, 70);
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    background-color:rgb(117, 117, 163);
    width: 8%;
    height: 100%;
    margin: 0 .25rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem

    
  }

  .btn:hover {
    cursor: pointer;
  }
}


